<h2>New Product</h2>
<%= simple_form_for [:admin,@product] do |f| %>
  <div class="group label-black">
    <%= f.input :category_id, :collection => @categories, :checked => @product.category %>
    <!-- 类型选择框 -->
  </div>

  <div class="group label-black">
    <%= f.input :title %>
  </div>
  <div class="group label-black">
    <%= f.input :description %>
  </div>
  <div class="group label-black">
    <%= f.input :quantity %>
  </div>
  <div class="group label-black">
    <%= f.input :price %>
  </div>
  <div class="group label-black">
    <%= f.input :image,as: :file %>
    上传一张主图
    <%= f.file_field :image, :multiple => true, name: "photos[image][]" %>
    上传4张轮播图
  </div>
  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>
<% end %>
