<div class="row">
  <div class="menu">
    <div class="menuList">
      <div class=" menuList-item col-sm-2">
        <h5>PRODUCT</h5> <!--定义产品名字-->
      </div>
      <div class=" menuList-item col-sm-2">
        <h5>PRODUCT</h5><!--定义产品名字-->
      </div>
      <div class=" menuList-item col-sm-4">
        <h2 class="logo">SELECTION</h2><!--产品LOGO-->
      </div>
      <div class="menuList-item col-sm-2">
        <h5>PRODUCT</h5><!--定义产品名字-->
      </div>
      <div class="menuList-item col-sm-2">
        <h5>PRODUCT</h5><!--定义产品名字-->
      </div>
    </div>
  </div>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- 轮播指标 -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0"></li>
    <li data-target="#myCarousel" data-slide-to="1 "class="active" ></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  <!-- 轮播项目 -->
  <div class="carousel-inner image-responsive">
    <div class="item">
      <img src="http://oooly5avu.bkt.clouddn.com/blue%20rug.jpg" alt="blue rug">
    </div>
    <div class="item active">
      <img src="http://oooly5avu.bkt.clouddn.com/green%20rug.jpg" alt="green rug">
    </div>
    <div class="item">
      <img src="http://oooly5avu.bkt.clouddn.com/familiy%20rug.jpg" alt="familiy rug">
    </div>
    <div class="item">
      <img src="http://oooly5avu.bkt.clouddn.com/party%20rug.jpg" alt="party rug">
    </div>
  </div>
  <!-- 轮播导航 -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  <!-- 筛选项 -->
  <div class="row orderList bg-color1">
    <div class="orderList-item bg-color2">
      <h4>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            category
          </a>
          <ul class="dropdown-menu">
            <% @categories.each do |category| %>
            <li><%= link_to(category.name, products_path(category: category.id))%></li>
            <% end %>
          </ul>
        </li>
      </h4>
    </div>
    <div class="orderList-item bg-color3">
      <h4>price</h4>
    </div>
    <div class="orderList-item bg-color4">
      <h4>date</h4>
    </div>
    <div class="orderList-item bg-color5">
      <h4>popular</h4>
    </div>
  </div>

  <!-- 产品列表-->
<div class="row">
    <% @products.each do |product| %>
    <div class="col-md-3 col-sm-6">
      <span class="thumbnail">
        <%= link_to product_path(product) do %>
          <% if product.image.present? %>
            <%= image_tag(product.image.thumb.url, class: "thumbnail img-responsive") %>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail img-responsive") %>
          <% end %>
        <% end %>
          <h4><%= product.title %></h4>
          <div class="ratings">
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star-empty"></span>
              </div>
          <p><%= product.description %></p>
          <hr class="line">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <p class="price"><%= product.price %>￥</p>
            </div>
            <div class="col-md-6 col-sm-6">
              <% if product.quantity.present? && product.quantity > 0 %>
                <%= link_to("Add to Cart", add_to_cart_product_path(product), :method => :post, :class => "btn btn-info right") %>
              <% else %>
                 Sold out
              <% end %>
            </div>
          </div>
      </span>
    </div>
    <% end %>
</div>
<!-- 产品列表尾部 -->

<!--footer-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 footer-col">
        <div class="logofooter"> SELECTION</div>
        <p> We spalialized in making comfortable and beautiful carpets and rugs. you feel fluffy soft lying on it. we offer series of kinds, you will find delight and pure aesthetic when watch them, enjoy it!</p>
        <p><i class="fa fa-map-pin"></i> #228, Nanjing Jiangjun road</p>
        <p><i class="fa fa-phone"></i> Phone (china) : +86 12345678909</p>
        <p><i class="fa fa-envelope"></i> E-mail : 47627598@qq.com</p>

      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">LINKS</h6>
        <ul class="footer-ul">
          <li><a href="#"> Career</a></li>
          <li><a href="#"> Privacy Policy</a></li>
          <li><a href="#"> Terms & Conditions</a></li>
          <li><a href="#"> Client Gateway</a></li>
          <li><a href="#"> Ranking</a></li>
          <li><a href="#"> Case Studies</a></li>
          <li><a href="#"> Frequently Ask Questions</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">LATEST POST</h6>
        <div class="post">
          <p>Best seller in china trade<span>April 3,2017</span></p>
          <p>most popular in world meeting conference<span>June 3,2016</span></p>
          <p>Touch and never forget<span>October 3,2014</span></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">Social Media</h6>
        <ul class="footer-social">
          <li><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></li>
          <li><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></li>
          <li><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></li>
          <li><i class="fa fa-google-plus social-icon google" aria-hidden="true"></i></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">Web designed by</h6>
        <p>赵鑫熙 & 蒋小兵</p>
      </div>
    </div>
  </div>
</footer>
<!--最底部的footer -->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2017 - All Rights with JDStore</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="#">SELECTION Club</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">company site's</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Site Map</a></li>
      </ul>
    </div>
  </div>
</div>
