<div class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
            <div class="tab-pane active productDetail-left-bigImage" id="pic-1">
              <%= link_to product_path(@product) do %>
                <% if @product.image.present? %>
                  <%= image_tag(@product.image.thumb.url, class: "thumbnail") %>
                <% else %>
                  <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail img-responsive") %>
                <% end %>
              <% end %>
            </div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li class="active productDetail-left-imageList-item"><a data-target="#pic-1" data-toggle="tab">
              <% if @product.image.present? %>
                <%= image_tag(@product.image.thumb.url, class: "thumbnail ") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail img-responsive") %>
              <% end %>  </a>
            </li>
            <li class="active productDetail-left-imageList-item"><a data-target="#pic-2" data-toggle="tab">
              <% if @product.photos[0].present? %>
                <%= image_tag(@product.photos[0].image.medium.url, class: "thumbnail") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail img-responsive") %>
              <% end %>  </a>
            </li>
            <li class="active productDetail-left-imageList-item"><a data-target="#pic-3" data-toggle="tab">
              <% if @product.photos[1].present? %>
                <%= image_tag(@product.photos[1].image.medium.url, class: "thumbnail") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail img-responsive") %>
              <% end %>  </a>
            </li>
            <li class="active productDetail-left-imageList-item"><a data-target="#pic-4" data-toggle="tab">
              <% if @product.photos[2].present? %>
                <%= image_tag(@product.photos[2].image.medium.url, class: "thumbnail") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail img-responsive") %>
              <% end %>  </a>
            </li>
            <li class="active productDetail-left-imageList-item"><a data-target="#pic-5" data-toggle="tab">
              <% if @product.photos[3].present? %>
                <%= image_tag(@product.photos[3].image.medium.url, class: "thumbnail") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail img-responsive") %>
              <% end %>  </a>
            </li>
          </ul>

        </div>
        <div class="details col-md-6">
          <h3 class="product-title"><%= @product.title %></h3>
          <div class="rating">
            <div class="stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <span class="review-no">41 reviews</span>
          </div>
          <p class="product-description"><%= @product.description %></p>  <p class="vote"><strong>80%</strong> 的顾客喜欢此款产品 <strong>(87 votes)</strong></p>
          <h3 class="price">价格: <span><%= @product.price %></span></h3>

          <h5 class="sizes">尺寸:
            <span class="size" data-toggle="tooltip" title="small">s</span>
            <span class="size" data-toggle="tooltip" title="medium">m</span>
            <span class="size" data-toggle="tooltip" title="large">l</span>
            <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
          </h5>
          <h5>推荐使用地点:
            <span class="color " data-toggle="tooltip" title="Not In store">客厅</span>
            <span class="color ">卧室</span>
            <span class="color ">卫生间</span>
          </h5>
          <div class="action">
            <button class="add-to-cart btn btn-info" type="button">
              <% if @product.quantity.present? && @product.quantity > 0 %>
                <%= link_to("Add to Cart", add_to_cart_product_path(@product), :method => :post) %>
              <% else %>
                 Sold out
              <% end %>
            </button>
            <button class="like btn btn-warning" type="button"><span class="fa fa-heart"></span></button>
          </div>
        </div>
      </div>
    </div>
    买家评价（确认收货可评价）
    <div >
      <% @posts.each do |p|%>
        <div class="">
          <%= p.created_at %>
          <%= p.description %>
        </div>
      <% end %>
    </div>
  </div>
</div>
